<p>
        <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
<!--         <th>线路ID</th><th>接入路由器</th><th>接入端口</th><th>WanIP</th><th>LanIP</th><th>(主/备)类型</th><th>路由器用户和密码</th><th>线路状态</th><th>操作</th>
-->
        <th>线路ID</th><th>接入路由器</th><th>站点地址</th><th>服务类型</th><th>接入端口</th><th>WanIP</th><th>LanIP</th><th>(主/备)类型</th><th>线路状态</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for line in room.object_list %}
        <tr>
        <td><a href="/line/list/{{ line.lineid }}/1">{{ line.lineid }}</a></td>
        <td>{{ line.lineserver }}</a></td>
        <td>{{ line.siteid.siteaddr }}</a></td>
        <td>{{ line.linebandwidth }}</a></td>
        <td>{{ line.lineport }}</td>
        <td>{{ line.linewanip}}</td>
        <td>{{ line.linelanip}}</td>
        <td>{{ line.linejifangtype}}</td>
<!--        <td>{{ line.linepass }}</td>
-->
        <td><span style="color:red"> {{ line.status }}</span></td>
        <td>
<!--         {% if  perms.tellme.change_line %}
           <a href="/line/edit/{{ line.lineid }}">修改</a>&nbsp; &nbsp;
         {% endif %}
-->
           <a href="http://192.168.55.250:10099/webqc.php?id={{ line.lineid }}" rel='external' >QC检查</a>&nbsp; &nbsp;
           <a href="http://ns4.rodge.org:10080/cgi-bin/rodge.pl?name={{ line.lineid }}" rel='external' >查看config</a>&nbsp; &nbsp;
<!--         {% if  perms.tellme.delete_line %} 
           <a href="/line/del/{{ line.lineid }}">删除</a>
         {% endif %}
-->
         </td>
        <td>
          <a style="color: red;" href="http://newticket.fnetlink.com:10082/opennew.php?stuser={{ user }}&lineid={{ line.lineid }}&contractname={{ line.siteid.cid.contractname }}&sitecontact={{ line.siteid.contacts }}&sitephone={{ line.siteid.sitecontact}}&email={{ line.siteid.cid.sales}}" rel="external">创建Ticket</a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </p>
