{% extends "base.html" %}
{% block content %}
       <p>
            <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
       <th>客户CID</th><th>客户合同名</th><th>安装名义</th><th>业务员</th><th>BP</th><th>MRTG/Netflow资料</th><th>客户状态</th><th>客户创建日期</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for cid in cidroom.object_list %}
        <tr>
        <td><a href="/cid/list/{{ cid.cid }}">{{ cid.cid }}</a></td>
        <td>{{ cid.contractname }}</td>
        <td>{{ cid.typeid }}</td>
        <td>{{ cid.sales}}</td>
        <td>{{ cid.bp}}</td>
        <td>{{ cid.mrtg_netflow}}</td>
        <td><span style="color:red"> {{ cid.status }}</span> </td>
        <td>{{ cid.cidcreate_date }}</td>
        <td>
         {% if  perms.tellme.change_cid %}
         <a href="/cid/edit/{{ cid.cid }}">修改</a>&nbsp; &nbsp;
          
               
         {% endif %}
         {% if  perms.tellme.add_site %}
         <a href="/site/add/{{ cid.cid }}">增加Site</a>&nbsp; &nbsp;
         {% endif %}
         {% if  perms.tellme.delete_cid %}
          <a href="del/{{ cid.cid }}">删除</a>
         {% endif %}
         </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
         <th>站点ID</th><th>站点名</th><th>站点地址</th><th>联络资料</th><th>站点状态</th><th>创建日期</th><th>站点图片</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
        <td><a href="/site/list/{{ site.siteid }}">{{ site.siteid }}</a></td>
        <td>{{ site.sitename }}</a></td>
        <td>{{ site.siteaddr }}</td>
        <td>{{ site.sitecontact}}</td>
        <td><span style="color:red"> {{ site.status }}</span> </td>
        <td>{{ site.sitecreate_date }}</td> 
        <td><a href="/image/cid_image/{{ site.siteid }}" rel="external">查看站点图片</a></td>
        <td>
          {% if  perms.tellme.change_site %}
          <a href="/site/edit/{{ site.siteid }}">修改</a>&nbsp; &nbsp;
          <a href="/image/upload.php?cid={{ site.siteid }}" rel="external">增加站点图片</a>&nbsp; &nbsp;
          {% endif %}
          {% if  perms.tellme.add_line %}
          <a href="/line/add/{{ site.siteid }}">增加Line</a>&nbsp; &nbsp;
          {% endif %}
          {% if  perms.tellme.delete_site %}
          <a href="/site/del/{{ site.siteid }}">删除</a>
          {% endif %}
         </td>
        </tr>
        
        </tbody>
        </table>

        <table class="table table-striped table-bordered table-condensed">
        <thead>
        </thead>
        <tbody>
        {% for line in room.object_list %}
            
        <tr>
        <th>线路ID:&nbsp; &nbsp;</th><td>{{ line.lineid }}</a></td>
        </tr>
        <tr>
        <th>接入服务器:&nbsp; &nbsp;</th><td>{{ line.lineserver }}</a></td>
        </tr>
        <tr>
        <th>接入端口:&nbsp; &nbsp;</th><td>{{ line.lineport }}</td>
        </tr>
        <tr>
        <th>Switch号:&nbsp; &nbsp;</th><td>{{ line.lineswitch}}</td>
         </tr>
        <tr>
        <th>Switch接口端口:&nbsp; &nbsp;</th><td>{{ line.lineswitchport}}</td>
         </tr>
        <tr> 
       <th>接入类型:&nbsp; &nbsp;</th><td>{{ line.lineaccesstype}}</td>
        </tr>
        <tr>
        <th>机房端口类型(主/备):&nbsp; &nbsp;</th><td>{{ line.linejifangtype}}</td>
        </tr>
        <tr>
        <th>WAN_IP:&nbsp; &nbsp;</th><td>{{ line.linewanip}}</td>
          </tr>
        <tr>
        <th>LAN_IP:&nbsp; &nbsp;</th><td>{{ line.linelanip }}</td>
          </tr>
        <tr>
        <th>路由器用户和密码:&nbsp; &nbsp;</th><td>{{ line.linepass }}</td>
          </tr>
         <tr>
        <th>线路频宽:&nbsp; &nbsp;</th><td>{{ line.linebandwidth }}</td>
          </tr>
          <tr>
        <th>线路所有权:&nbsp; &nbsp;</th><td>{{ line.linequan }}</td>
          </tr>
        <tr>
        <th>线路厂商和类型:&nbsp; &nbsp;</th><td>{{ line.linetype }}</td>
          </tr>
         <tr>
        <th>线路编号:&nbsp; &nbsp;</th><td>{{ line.linenum }}</td>
          </tr>
         <tr>
        <th>其他资料:&nbsp; &nbsp;</th><td>{{ line.lineother }}</td>
          </tr>
        <tr>
         <tr> 
       <th>Line状态:&nbsp; &nbsp;</th><td><span style="color:red"> {{ line.linestatus }}</span> </td>
        </tr>
         <tr>
        <th>创建时间:&nbsp; &nbsp;</th><td>{{ line.linecreate_date }}</td>
          </tr>
        <tr>
        <th>config:&nbsp; &nbsp;</th><td><a href="http://ns4.rodge.org:10080/cgi-bin/rodge.pl?name={{ line.lineid }}" rel='external' >查看
     {{ line.lineid }}最新config</td>
          </tr>
        <th>操作:&nbsp; &nbsp;</th>
        <td>
         {% if  perms.tellme.change_line %}
           <a href="/line/edit/{{ line.lineid }}">修改</a>&nbsp; &nbsp;
         {% endif %}
         {% if  perms.tellme.delete_line %}
           <a href="/line/del/{{ line.lineid }}">删除</a>
         {% endif %}
         </td>
        </tr>
        <tr>
        </tr>
        </tbody> 
        </table>
      {%if line.linerrdid %}
        <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
        <th>每天流量</th>
        <tr>
        </thead>
        <tbody>
        <tr>
        <td><img src="http://{{ line.linemrtgserver }}/graph_image1.php?action=view&rra_id=1&local_graph_id={{ line.linerrdid }}"></td>
        </tr>
        </tbody>
        </table>

        <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
        <th>每周流量</th>
        <tr>
        </thead>
        <tbody>
        <tr>
       <td><img src="http://{{ line.linemrtgserver }}/graph_image1.php?action=view&rra_id=2&local_graph_id={{ line.linerrdid }}"></td>
        </tr>
        </tbody>
        </table>

        <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
        <th>每月流量</th>
        <tr>
        </thead>
        <tbody>
        <tr>
       <td><img src="http://{{ line.linemrtgserver }}/graph_image1.php?action=view&rra_id=3&local_graph_id={{ line.linerrdid }}"></td>
        </tr>
        </tbody>
        </table>

       <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
        <th>每年流量</th>
        <tr>
        </thead>
        <tbody>
        <tr>
       <td><img src="http://{{ line.linemrtgserver }}/graph_image1.php?action=view&rra_id=4&local_graph_id={{ line.linerrdid }}"></td>
        </tr>
        </tbody>
        </table>
        {% endif %}
        {% endfor %}
        
        </p>
{% endblock %}
